.project
.classpath
.settings
.toDelete
target/

grpc/src/main/java/
grpc/src/main/grpc/
**/build/
**/out/
.gradle/

*.xml~
*.java~

lsp

**/.idea/
*.iml
*.log
*.ipr
*.iws
*.mdmp


*.tar.gz
*.rpm
*.ear
*.war
*.jar
*.zip
*.exe

**/target/


/docker/ft-http-adapter-docker/target/
/ft-http-adapter/target/
/test-runner-simulator/target/
.flattened-pom.xml